<div class="container">
  <div class="row pt-3 mb-4 pb-4 border-bottom">
    <div class="col"></div>
    <h1 class="col text-center"><%= @user.name %></h1>
    <div class="col d-flex align-items-center">
      <%= link_to '編集', edit_user_registration_path(@user), class: 'btn btn-secondary' %>
    </div>
  </div>
  <div class="row justify-content-center">
    <%= link_to '日程調整を作成する', new_event_path, class: 'col-6 btn btn-lg btn-danger' %>
  </div>
  
</div>
