<div class="container">
  <div class="row pt-3 pb-4 border-bottom">
    <div class="col"></div>
    <h1 class="col text-center"><%= @user.name %></h1>
    <div class="col text-end">
      <%= link_to '編集', edit_user_registration_path(@user), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
