<% if resource.errors.any? %>
  <div class="w-50 d-flex justify-content-start" id="error_explanation">
    <ul class="mb-0 ps-0">
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-danger" style="list-style: none;"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>