<div class="pt-4 pb-4">
  <div class="row h-100 justify-content-center">
    <div class="col-8 mt-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
      <div class="ms-0 my-1 nomi-subhead-box"></div>
      <div class="ms-2 mb-0 h5">開催日</div>
      <div class="mb-1 ms-auto d-flex">
        <% if host_user?(event) && event_date %>
          <%= button_to '再調整', event_possible_date_event_date_path(event, event_date.possible_date, event_date), method: :delete, class: 'btn btn-sm btn-secondary' %>
        <% end %>        
      </div>
    </div>
  </div>

  <div class="row h-100 justify-content-center">
    <div class="col-8 mt-2 ps-0 d-flex align-items-center nomi-event-width">
      <% if event_date %>
        <div class="ms-4 mb-0 h5"><%= event_date.possible_date.datetime.strftime("%m/%d %H:%M") %></div>
      <% else %>
        <div class="ms-4 mb-0 h5">未調整</div>
      <% end %>
    </div>
  </div>
</div>