<div class="pt-4 mb-4">
  <%= turbo_frame_tag 'payment' do %>
    <div class="row h-100 justify-content-center">
      <div class="col-8 mt-2 ps-0 d-flex align-items-center border-bottom nomi-event-width">
        <div class="ms-0 my-1 nomi-subhead-box"></div>
        <div class="ms-2 mb-0 h5">会費管理</div>
        <div class="mb-1 ms-auto d-flex">
          <% if host_user?(event) %>
            <% if payment_management %>
              <%= button_to '削除', event_payment_management_path(event, payment_management), form: { data: { turbo_confirm: "本当に削除しますか？" } }, method: :delete, class: 'btn btn-sm btn-secondary' %>
            <% else %>
              <%= button_to '作成', event_payment_managements_path(event), method: :post, class: 'btn btn-sm btn-secondary' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row h-100 justify-content-center">
      <div class="col-8 mt-2 ps-0 nomi-event-width">
        <% if payment_management %>
          <div class="ms-4">
          
          
          
          </div>
        <% else %>
          <div class="ms-4">会費管理は作成されていません</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>