<div class="container py-4">
  <div class="p-5 mb-4 d-flex justify-content-center align-items-center bg-nomi-main rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">nominomoってなぁに？？</h1>
      <p class="fs-4">nominomoは飲み会や懇親会に特化した日程調整サイトです<br>出欠だけでなくアンケートや会費の管理もできます</p>
      <%# <button class="btn btn-secondary btn-lg" type="button">詳しく見る</button> %>
    </div>
    <%= image_tag 'top_01.png', class: 'ms-auto nomi-top-img' %>
  </div>
</div>

<div class="container py-4">
  <div class="p-5 mb-4 d-flex justify-content-center align-items-center bg-nomi-main rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">飲み会を開こう！</h1>
      <p class="fs-4">nominomoはユーザー登録不要でご利用できます<br>さぁ、ページ下部のリンクから日程調整をはじめましょう</p>
      <%# <button class="btn btn-secondary btn-lg" type="button">詳しく見る</button> %>
    </div>
    <%= image_tag 'top_02.png', class: 'ms-auto nomi-top-img' %>
  </div>
</div>

<div class="container py-4">
  <div class="p-5 mb-4 d-flex justify-content-center align-items-center bg-nomi-main rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">ユーザー登録でさらに便利に！</h1>
      <p class="fs-4">ユーザー登録をすると別の端末やブラウザからの利用が便利に<br><!--日程調整の有効期限も無期限になります-->ユーザーページから日程調整にアクセスできます</p>
      <%# <button class="btn btn-secondary btn-lg" type="button">詳しく見る</button> %>
    </div>
    <%= image_tag 'top_03.png', class: 'ms-auto nomi-top-img' %>
  </div>
</div>

<div class="container my-5 pb-5">
  <div class="row justify-content-center">
      <%= link_to '日程調整を作成する', new_event_path, class: 'col-6 btn btn-lg btn-danger' %>
  </div>
</div>
