
/* color //////////////////////////////// */

.bg-nomi-header {
  background-color: #fff33f;
}

.bg-nomi-main {
  background-color: #fffff2;
}

/* header //////////////////////////////// */

.navbar-brand {
  font-size: 2rem; /* headerのタイトル文字サイズ変更 */
}

/* main //////////////////////////////// */

main {
  padding-top: 74px; /* header下部の余白を確保 */
  min-height: calc(100vh - 60px); /* ページが短くても画面全体に表示 */
}

/* header //////////////////////////////// */

.height-nomi-footer {
  height: 60px; /* footerの高さを80pxに固定 */
}

/* form //////////////////////////////// */
.nomi-form-width {
  min-width: 360px;
}

.nomi-form-btn-width {
  min-width: 180px;
}
