
/* color //////////////////////////////// */

.bg-nomi-header {
  background-color: #fff33f;
}

.bg-nomi-main {
  background-color: #fffff2;
}

/* header //////////////////////////////// */

.navbar-brand {
  font-size: 2rem; /* headerのタイトル文字サイズ変更 */
}

/* main //////////////////////////////// */

main {
  padding-top: 100px; /* header下部の余白を確保 */
}
