
/* color //////////////////////////////// */

$nomi-yellow: #fff33f;
.bg-nomi-header {
  background-color: $nomi-yellow;
}

.bg-nomi-main {
  background-color: #fffff2;
}

/* header //////////////////////////////// */

.navbar-brand {
  font-size: 2rem; /* headerのタイトル文字サイズ変更 */
}

/* main //////////////////////////////// */

main {
  padding-top: 74px; /* header下部の余白を確保 */
  min-height: calc(100vh - 60px); /* ページが短くても画面全体に表示 */
}

/* header //////////////////////////////// */

.height-nomi-footer {
  height: 60px; /* footerの高さを80pxに固定 */
}

/* top //////////////////////////////// */
.nomi-top-img {
  width: 240px;
}

/* form //////////////////////////////// */
.nomi-form-width {
  min-width: 360px;
}

.nomi-form-btn-width {
  min-width: 180px;
}

/* host //////////////////////////////// */

.nomi-copy-btn {
  font-size: 30px;
}

.nomi-copy-btn:active {
  color: lightgray;
}

.nomi-overflow-x {
  overflow-x: auto;
  white-space: nowrap;
}

/* event //////////////////////////////// */
.nomi-event-width {
  min-width: 360px;
}

.nomi-subhead-box {
  height: 36px;
  width: 18px;
  background-color: $nomi-yellow;
}

.nomi-dmy {
  visibility: visible;
}

/* 後で削除
.nomi-table-date {
  min-width: 120px;
}

.nomi-table-date-guest {
  min-width: 120px;
}

.nomi-table-date-comment {
  text-align: start;
  overflow-x: visible;
  white-space: normal;
}
*/

.nomi-table-date-cell {
  @extend .d-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
  @extend .border;
  min-height: 80px;
}

.nomi-table-date-date {
  @extend .nomi-table-date-cell;
  min-width: 180px;
  max-width: 180px;
}

.nomi-table-date-guestnum {
  @extend .nomi-table-date-cell;
  min-width: 80px;
  max-width: 80px;
}

.nomi-table-date-guestinput {
  @extend .nomi-table-date-cell;
  min-width: 140px;
  max-width: 140px;
}

.nomi-table-date-guest {
  @extend .nomi-table-date-cell;
  @extend .text-wrap;
  min-width: 80px;
  max-width: 80px;
}

.nomi-table-date-btn {
  @extend .nomi-table-date-cell;
  min-width: 120px;
  max-width: 120px;
}

.nomi-table-date-comment {
  @extend .border;
  @extend .text-wrap;
  min-width: 80px;
  max-width: 80px;
}